[Desktop Entry]
Type=Application
Name=Set up Bunny OS
Comment=The Bunny setup experience, started when the live session begins
Exec=bunny-setup
Icon=bunny-shell
Terminal=false
OnlyShowIn=GNOME;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=2
NoDisplay=true
